# возьмите какое-то уникальное имя для обозначения себя
PARTICIPANT_NAME=your_name_here

# адреса сервиса и куда слать метрики
API_BASE_URL=https://api.de-retreat.mock.events
PUSHGATEWAY_URL=https://metrics.de-retreat.mock.events

# настройки таймата, в секндах
API_TIMEOUT=10

# настройки пайплайна
PIPELINE_INTERVAL_MINUTES=2
FETCH_WINDOW_MINUTES=2

LOG_LEVEL=INFO
